app_id: null
token: null
err_channel: null
prefix_char: '.'
user_audit_log:
    dir: 'logs'
    file: 'user_audit.log'
    channel: '1224496998892175440' # blahblah-logs
    events:
        - MESSAGE_CREATE
        - MESSAGE_UPDATE
        - MESSAGE_DELETE
    ignored_channels:
        - '1222683927786029197' # forum-tests
        - '1224496998892175440' # blahblah-logs
        - '1225423409287266324' # blahblah-errors
        - '1232118968412668045' # rawr voice
        - '872257927573033010' # geral-staff
        - '897800130948894740' # bots
        - '1223735968536727802' # rawr-test
roles: # set this to null to disable
    server: '' # server id
priv_roles:
    - '779773704368160778' # gods
    - '789406295136272384' # mods
forum_react:
    '1222683927786029197':
        - '⏳'
        - '👍'
        - '👎'
    '1222685062663901227':
        - '⏳'
        - '👍'
        - '👎'
babies_greet:
    greet_channel: '779767020580503568' # geral
    greet_emoji: '1224450360257544333' # blobhajpride
    roles_channel: '779774827237343233' # roles
verify:
    channel: '874416104653598741' # apresentacoes
    role: '781266952828092474' # beans
bonk_emoji: # URL of emoji to use
    - 'https://cdn.discordapp.com/emojis/1230255202083274782.gif?size=96&quality=lossless'
    - 'https://cdn.discordapp.com/emojis/1230255211151364237.gif?size=96&quality=lossless'
    - 'https://cdn.discordapp.com/emojis/1230255191241003108.gif?size=96&quality=lossless'
    - 'https://cdn.discordapp.com/emojis/874285835174948906.gif?size=96&quality=lossless'
pat_emoji: # URL of emoji to use
    - 'https://cdn.discordapp.com/emojis/853576846352580628.gif?size=96&quality=lossless'
    - 'https://cdn.discordapp.com/emojis/829890944932380702.gif?size=96&quality=lossless'
    - 'https://cdn.discordapp.com/emojis/998700661996785805.gif?size=96&quality=lossless'
    - 'https://cdn.discordapp.com/emojis/755088073548759100.gif?size=96&quality=lossless'
    - 'https://cdn.discordapp.com/emojis/1072271035296141413.gif?size=96&quality=lossless'
    - 'https://cdn.discordapp.com/emojis/441370192639950888.gif?size=96&quality=lossless'
cleanup_channels: #channel_id: max_message_age_hours
    '1224496998892175440': 336 # blahblah-logs
    '1221236452042739832': 336 # message-logs
autoreload: false
debug: false

# vim: set ft=yaml:
