app_id: null
token: null
err_channel: null
user_audit_log:
    dir: 'logs'
    file: 'user_audit.log'
    channel: '1224496998892175440'
    events:
        - MESSAGE_CREATE
        - MESSAGE_UPDATE
        - MESSAGE_DELETE
prefix_char: '.'
roles: # set this to null to disable
    server: '' # server id
priv_roles:
    - '779773704368160778' # gods
    - '789406295136272384' # mods
forum_react:
    '1222683927786029197':
        - '⏳'
        - '👍'
        - '👎'
    '1222685062663901227':
        - '⏳'
        - '👍'
        - '👎'
babies_greet:
    greet_channel: '779767020580503568' # geral
    greet_emoji: '1224450360257544333' # blobhajpride
    roles_channel: '779774827237343233' # roles
verify:
    channel: '874416104653598741' # apresentacoes
    role: '781266952828092474' # beans
autoreload: false
debug: false

# vim: set ft=yaml:
